.idea
.tmp.driveupload
*.ini
*/.ipy_checkpoints
*/.idea
*/out/
/WIX1002 Fundamentals of programming/lab & tutorial codes/out/
/WIX1002 Fundamentals of programming/lab & tutorial codes/test.java
*/*-private.md
.obsidian/*
/node_modules
/package-lock.json
*.class
*.yml
*.iml